---
---
@import 'custom/variables';
@import 'bootstrap/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

#inso-logo {
    padding-left: 20px;
}

#nav-button {
    padding-left: 0;
}

*:not(pre)>code {
    background-color: #f0f0f0;
    border-radius: 4px;
    line-height: 1;
    overflow-wrap: break-word;
    padding: 2px 4px;
    transition: background-color .15s linear;
}

pre>code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

.nav-link {
    color: white !important;

    &:hover {
        text-decoration: underline;
    }
}

.doc-link {
    padding-left: 15px;
    
    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

h2 {
    padding-bottom: 10px;
}

p {
    font-weight: 400;

    img {
        border: 1px grey solid;
        border-radius: 5px;
    }
}

.article-detail-container {
    padding-top: 40px;
    padding-bottom: 40px;

    h1 {
        padding-bottom: 10px;
    }
}

#inso-logo {
    max-height: 35px;
}

#inso-logo-docs {
    padding-left: 5px;
    padding-bottom: 6px;
    font-size: 18px;
    color: white;
}

#navbarNav {
    padding-right: 20px;
}

.main-body-container {
    padding: 40px 0 40px 0;
}

.footer {
    ul li {
        list-style: none;
        a {
            color:black;
            text-decoration: none;
            font-size: 14px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

#docs-footer {
    bottom: 0;

    li:first-child {
        padding-top: 10px;
    }
}

#footer-copyright {
    float: right;
}
